<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.59.0.0" targetFramework="Native" />
  <package id="boost_program_options-vc140" version="1.59.0.0" targetFramework="Native" />
  <package id="libpng" version="1.6.18.1" targetFramework="native" />
  <package id="libpng.redist" version="1.6.18.1" targetFramework="native" />
  <package id="pngpp" version="0.2.7.1" targetFramework="Native" />
  <package id="zlib" version="1.2.8.8" targetFramework="native" />
  <package id="zlib.redist" version="1.2.8.7" targetFramework="Native" />
  <package id="zlib.v120.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
  <package id="zlib.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
</packages>