<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.57.0.0" targetFramework="Native" />
  <package id="boost_thread-vc120" version="1.57.0.0" targetFramework="Native" />
  <package id="libpng" version="1.5.10.11" targetFramework="Native" />
  <package id="libpng.redist" version="1.5.10.11" targetFramework="Native" />
  <package id="pngpp" version="0.2.7.1" targetFramework="Native" />
  <package id="portaudio" version="0.19.1" targetFramework="Native" />
  <package id="portaudio.redist" version="0.19.1" targetFramework="Native" />
  <package id="zlib" version="1.2.8.6" targetFramework="Native" />
  <package id="zlib.redist" version="1.2.8.7" targetFramework="Native" />
</packages>